<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<script src="https://kit.fontawesome.com/fbbe8ce5af.js" crossorigin="anonymous"></script>
    <title>Home</title>


</head>

<body>
    <header class="styles_header">

        <section>
            <img class="styles_header_img" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">

        </section>
        <nav class="styles_header_nav">
            <section class="styles_header_nav_buscador">
                <input placeholder="Buscar"></input>
                <i class="fa-solid fa-magnifying-glass"></i>
            </section>
            <p> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </p>
            <ul>
                <li><a href="/Ofertas"> Ofertas</a> </li>
                <li><a href="/tiendas oficiales"> Tiendas Oficiales </a> </li>
                <li><a href="/vender"> Vender </a> </li>
                <li><a href="/ayuda"> Ayuda </a></li>
            </ul>
            <ul>
                <li><a href="/crea-tu-cuenta"> Crea tu cuenta </a> <i class="fa-solid fa-address-card"></i> </li>

                <li><a href="/ingresa"> Ingresa </a><i class="fa-solid fa-arrow-right-to-bracket"></i> </li>
                <li><a href="/mis-compras"> Mis compras </a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
        <img class="styles_header_nav_banner" src="/images/img-home-banner.jpg" alt=" imagen-banner">
    </header>

    <main class="styles_main">
        <section>
            <h1> Basado en tu última visita</h1>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">

                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</>
                </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000 </p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">

                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>

                <article>


                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">

                    <p>$23.200</p>
                    <p>5% off</p>
                    <p>SmartTv Samsung 43"</p>
                </article>
        </section>

        <section>
            <h3><b>Ofertas</b></h3>
            <article>

                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">

                <p>$6.770</p>
                <p>40% off</p>
                <p>Cafetera Moulinex</p>
            </article>

            <article>


                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">

                <p>$230.000 </p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">

                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="samsung">

                <p>$23.200</p>
                <p>5% off</p>
                <p>SmartTv Samsung 43"</p>
            </article>

        </section>
    </main>


    <footer class="styles_footer">
        
        <section>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h3> Pagá en tarjeta o en efectivo</h3>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                    es seguro!</p>
            </article>

            <article>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde los $ 2500</h3>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
                
            </article>

            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                    protegid@ 
                </p>
            </article>
            <p class="styles_footer_copyright">Copyright 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>

</body>

</html>