<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>


</head>
<body>
    <header>
        <nav>
            <section>
                <figure>
                    <img src ="/images/logo-mercado-liebre.svg" alt= "logo-mercado-liebre"> 
                </figure>
            </section>
        </nav>
        <section>
            <h4> <p>Lugar para poner barra de búsqueda </p>

            <p> Comprá en cuotas y sin tarjeta de crédito</p></h4>

        </section>
        <nav>
            <ul>
                <li><a href="/Ofertas"> Ofertas</a> </li>
                <li><a href="/tiendas oficiales"> Tiendas Oficiales</a> </li>
                <li><a href="/vender">Vender </a> </li>
                <li><a href="/ayuda">Ayuda </a></li>
            </ul>

            <nav>
                <ul>
                    <li><a href="/crea-tu-cuenta"> Crea tu cuenta</a> </li>
                    <li><a href="/ingresa"> Ingresa</a> </li>
                    <li><a href="/mis-compras">Mis compras </a> </li>
                    </ul>
    <br></header>
   
    <main>
       <section>
            <b><h3>Basado en tu última visita</h3></b>
                <article>
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    </figure>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p><b>Cafetera Moulinex</b></p><br>
                </article>

                <article>
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    </figure>
                    <p>$230.000 </p>
                    <p>20% off</p>
                    <p><b>MacBook Pro 2019</b></p><br>
                </article>

                <article>
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
                    </figure>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p><b>Samsung Galaxy S10</b></p><br>
                </article>

                <article>
                    <figure>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                    </figure>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <p><b>SmartTv Samsung 43"</b></p><br>
                </article>
                </section>

                <section>
                    <h3><b>Ofertas</b></h3>
                    <article>
                        <figure>
                            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                        </figure>
                        <p>$6.770</p>
                        <p>40% off</p>
                        <p><b>Cafetera Moulinex</b></p><br>
                    </article>
    
                    <article>
                        <figure>
                            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                        </figure>
                        <p>$230.000 </p>
                        <p>20% off</p>
                        <p><b>MacBook Pro 2019</b></p><br>
                    </article>
    
                    <article>
                        <figure>
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                        </figure>
                        <p>$70.500</p>
                        <p>10% off</p>
                        <p><b>Samsung Galaxy S10</b></p>
                        <figure>
                            <img src="/images/img-tv-samsung-smart.jpg" alt="">
                        </figure>
                        <p>$23.200</p>
                        <p>5% off</p>
                        <p><b>SmartTv Samsung 43"</b></p><br>
                    </article>
                </ul>
            </nav>
        </section>
    </main>


<footer>
    <style>
        footer{
            display: flex;
            justify-content: center;
        }
    </style>
    <section>
        <article>
            <h3>Pagá en tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p><br>
        </article>

        <article>
            <h3>Envío gratis desde los $ 2500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p></><br>
        </article>

        <article>
            
             <h3>Seguridad de principio a fin</h3>
             <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@<br> Copyright  1999-2020 MercadoLiebre S.R.L.
            </p></><br>
         </article>
    </section>

</footer>

</body>
</html>