.home__body {
    font-size: 12px;
    background-color: var(--grisClaro);
}



/*--HEADER--*/
.home__body_header {
    background-color: var(--amarillo);
}

.home__body_header-encabezado {
    display: flex;
    align-items: center;
    padding: 15px 5px 5px 15px;
}


.styles_header_img {
    width: 50%;
}

.home__body_header-buscador {
    display: flex;
    justify-items: baseline;
    align-items: center;
    width: 50%;
    margin: 5px;
    padding-right: 5px;
}

.home__body_header-buscador-form {
    position: relative;
    margin: 5px;
}

.home__body_header-buscador-form input {
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    width: 95%;

}

.home__body_header-buscador-form__lupa {
    background-color: white;
    padding: 2px;
    position: absolute;
    right: 9px;
    top: 8px;
}

.home__body_header-compra-cuotas {
    position: absolute;
    margin-top: 70px;
    padding: 10px;
    text-align: center;
}

.styles_header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;
}

.styles_header_nav-sections {}


.styles_header_nav_banner {
    width: 100%;
}


.burger-menu {
    display: flex;
    justify-content: center;
    margin-left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 15%;
    background-color: var(--celeste);
    color: white;
    font-size: 20px;
}


.burger-menu i {
    margin-top: 4.5px
}




/*-----Main-----*/

/*Con el background se coloca color a la parte inferior de descripcion*/
.home__main__section-article {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #ebebeb;
    padding: 0px;
    position: relative;
    margin-bottom: 5px;
    color: var(--grisOscuro);

}

.home__main__section-article img {
    width: 100%;
    border-bottom: solid 1px var(--grisClaro);
}

.home__main__styles h1 {
    font-size: 24px;
    padding: 5px;
    color: var(--grisOscuro);
}


.home__main__section-article i {
    display: block;
    color: var(--verde);
    padding: 5px;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 40px;
    text-align: center;
}
.home__main__section-article-info {
    margin: 10px;
}

.home__main__section-article-precio {
    font-size: 18px;
    width: 45%;

}

.home__main__section-article-descuento {
    font-size: 16px;
    color: var(--verde);

}

/*El border top dio linea divisoria*/

.home__main__section-article h3{
    
    font-size: 16px;
    box-sizing: border-box;
    line-height: 30px;
    height:0;
    overflow: hidden;
    transition:all 0.5s ease;
}

.home__main__section-article:hover h3{
    display:block;
    height: 30px;
}


/*Estilo de Footer*/

.styles_footer {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: var(--grisOscuro)
}

.styles_footer i {
    color: var(--celeste);
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2em;
}

.styles_footer_copyright {
    padding-top: 50px;
    text-align: left;
    padding-bottom: 20px;
    text-align: center;

}

/*-----HEADER-481px----*/
@media(min-width: 481px) {
    .home__main__section-article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .styles_header_img {
        width: 30%;
    }
    .home__body_header-buscador {
        width: 30%;
    }
    .home__body_header-buscador-form input {
        padding: 0px 0px 0px 0px;
        border-radius: 0px;
        border: none;
        width: 100%;
    }
    .home__body_header-buscador-form__lupa {
        background-color: white;
        padding: 2px;
        position: absolute;
        right: 1px;
        top: 0px;
        font-size: smaller;}

        .home__body_header-compra-cuotas {
        position: relative;
            padding: 10px 0px 0px 0px;
            margin-top: 0px;           
        }

    .styles_header_nav {
        font-stretch: condensed;
        padding-bottom: 0px;
    }

    .styles_header_nav ul {
        flex-direction: row;
        gap: 15px;
        padding: 0px 0px 10px 10px;
        display: inline-flex;
    }

    .burger-menu {
        display: none;
    }

    .home__main-articles {
        display: flex;
        flex-direction: row;
        gap: 30px;
      
        
    }
}

/*-----MAIN-----*/


.home__main__section-article-nombre {
    display: inline;
}



/*-----HEADER-769px----*/
@media(min-width: 769px) {
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .styles_header_nav ul {
        display: flex;
        flex-direction: row;
        padding: 0px 0px 10px 10px;
    }

    .burger-menu {
        /* display: none;*/
        width: 100%;
    }

    /*-----MAIN-----*/

    .home__main-articles {
        gap: 12px;
    }

    .home__main__section-article i {
        bottom: 70px;
    }

    .home__main__section-article-nombre {
        display: inline;
    }

    .home__main__styles section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .home__main__section-article-descuento {
        /*separa el precio del descuento*/
        margin-inline: 6px;
    }

}