:root {
    --amarillo : #EAC926;
    --azul : #03264C;
    --celeste : #1259c3;
    --grisOscuro:#666;
    --grisClaro:#ebebeb;
    --verde: #39b54a;
    --tipografia : 'Roboto';
    --tipografia: 'Roboto';
}
/* Header */

*{margin: 0;
padding: 0; }

body{ font-family: var(--tipografia);}

ul{padding: 0;}
li{list-style: none;}
a{text-decoration: none;
color: black;}

.styles_header{background-color: #EAC926;
font-size: 12px;
 }

.styles_header_img{padding: 15px;
width: 50%;}

.styles_header_nav_buscador{ padding: 15px;
}
.styles_header_nav_buscador input{ display:block
}
.styles_header_nav_buscador i{ background-color: white;

}

.styles_header_nav p{text-align: center; }

.styles_header_nav_banner{ display:none}


.burger-menu{text-align: center; 
box-sizing: content-box;
display: inline-block;
margin-left: 50%;
width: 6vw;
height: 4vh;
border-radius: 15%;
background-color:var(--celeste);
margin-bottom: 10px;
color: white;
 }
.burger-menu i{ margin-top: 4.5px}; 

/*Main*/
.styles_nav img {
    width: 100%;
}

/*Estilo de Footer*/

.styles_footer{ text-align: center;
margin-left: 50px;
margin-right: 50px;}

.styles_footer i{ color: var(--celeste);
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
}

.styles_footer_copyright{ padding-top: 50px;
    text-align: left;
    padding-bottom: 20px;}

